.container{
    display: flex;
    flex-wrap: wrap;
    border:5px solid black;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 5px;
    margin: 10px;
    align-items: center;
    background-color: gray;
    height: 450px;

    
    
}

.container div{

    background: rgpa(0,0,0,0.5);
    font-size: large;
}

.class1{
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 100px;
    min-height: 150px;
    
}
.class2{
    background-color: blue;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 100px;
    height: 150px;
    
}
.class3{
    background-color: green;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 100px;
    height: 150px;
    
}
.class4{
    background-color: yellow;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 100px;
    height: 150px;
}



h3{
    display: inline-block;
}
.invisable{
    visibility: hidden;
}

.overflow{
    border: 5px blue solid;
    width:350px;
    height: 200px;
    overflow: auto;
}