

#p9{
    color: darkolivegreen;
}
.po{
    color: darkviolet;
}

h1{
    color: blue;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-decoration: double;
    font-size: x-large;
    font-variant: small-caps;
    border-style: solid;
    border-color: red;
    border-width:9px 15px 3px  5px;
    border-top:dashed blue;
    padding: 40px,20px,10px,5px;
    margin: 40px,20px,10px,5px;

}

    
ul{
    font-weight: 900;
    font-size: 20px;
    color: blue;
}

a:link{
    color:green;
    text-decoration :none;

    
}
a:visited{
    color: red;
}

a:hover{
    color:aqua;
    font-size:22px;
}
a:active{
    color:brown ;
    text-decoration: underline;
}
        
body{
    background-image: url(photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
   
}
.div1{
    background-color: blueviolet;
}
